/* You can add global styles to this file, and also import other style files */

.ol-overlaycontainer-stopevent {
    .custom-control {
        position: absolute;
        left: 10px;
    }
    #control_6{
        top: 65px;
    }

}

.image-tool-bar {
    top: 50px;
    display: none;
}